* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  width: 1000px;
  background-color: rgb(243, 244, 246);
}

.logo {
  background-color: rgb(252, 165, 2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.logo p {
  position: relative;
  top: 10%;
}

.logo-text {
  width: 50%;
  margin-top: 10px;
}

.logo-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.logo-text p {
  font-size: 18px;
  color: gray;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial {
  margin-top: 10px;
  width: 50%;
}

.testimonial p {
  font-size: 15px;
  color: black;
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonial img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 4px;
  margin-top: 1px;
}

.reviewer {
  height: 25%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  float: right;
  margin-right: 15%;
}

.reviewer img {
  float: left;
  margin-right: 5px;
}

.reviewer-text h2 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.reviewer-text p {
  text-align: left;
  font-size: 14px;
  color: gray;
  line-height: 1.5;
}

.reviewer-2 {
  height: 25%;
  width: 30%;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  float: right;
}

.reviewer-2 img {
  float: left;
  margin-right: 5px;
}

.reviewer-text-2 h2 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.reviewer-text-2 p {
  text-align: left;
  font-size: 14px;
  color: gray;
  line-height: 1.5;
}
